<h3>New Appointment Form</h3>

<%= form_for(@appointment) do |f| %>
  <label>Patient:</label><br>
  <%= f.collection_select :patient_id, Patient.all, :id, :name %><br>

  <label>Doctor:</label><br>
  <%= f.collection_select :doctor_id, Doctor.all, :id, :name %><br>

  <label>Date:</label><br>
  <%= f.date_field :date %><br>

  <label>Notes:</label><br>
  <%= f.text_area :notes %><br>
  
  <%= f.submit %>
<% end %>